 .App {
  text-align: center;
  
  /* margin: 0 auto; */
 }
 .detailsContainer {
  display: flex;
  flex-wrap: wrap;
 }

 .subContainer {
  border:1px solid #ccc;
  margin: 20px;
  padding: 20px;
  text-align: justify;
  /* text-justify: auto; */
 }